body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-60px;
  width:1028px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:60px;
  top:8px;
  width:157px;
  height:112px;
  color:#333333;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:112px;
}
#u2 {
  position:absolute;
  left:2px;
  top:48px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:60px;
  top:130px;
  width:960px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:951px;
  top:-5px;
  width:14px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u4 {
  position:absolute;
  left:256px;
  top:46px;
  width:419px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:38px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:60px;
  top:745px;
  width:960px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:951px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u8 {
  position:absolute;
  left:60px;
  top:760px;
  width:200px;
  height:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:60px;
  top:200px;
  width:200px;
  height:198px;
}
#u10_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:204px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:203px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:32px;
  width:200px;
  height:34px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:66px;
  width:200px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:96px;
  width:200px;
  height:34px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:130px;
  width:200px;
  height:34px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:164px;
  width:200px;
  height:34px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:300px;
  top:258px;
  width:793px;
  height:131px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:58px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:59px;
}
#u26 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:104px;
  top:0px;
  width:104px;
  height:58px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:59px;
}
#u28 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:208px;
  top:0px;
  width:104px;
  height:58px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:59px;
}
#u30 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:312px;
  top:0px;
  width:104px;
  height:58px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:59px;
}
#u32 {
  position:absolute;
  left:2px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:416px;
  top:0px;
  width:104px;
  height:58px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:59px;
}
#u34 {
  position:absolute;
  left:2px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:520px;
  top:0px;
  width:113px;
  height:58px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:59px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:633px;
  top:0px;
  width:155px;
  height:58px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:59px;
}
#u38 {
  position:absolute;
  left:2px;
  top:20px;
  width:151px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:58px;
  width:104px;
  height:34px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:104px;
  top:58px;
  width:104px;
  height:34px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:208px;
  top:58px;
  width:104px;
  height:34px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:312px;
  top:58px;
  width:104px;
  height:34px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:416px;
  top:58px;
  width:104px;
  height:34px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:520px;
  top:58px;
  width:113px;
  height:34px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:35px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:633px;
  top:58px;
  width:155px;
  height:34px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u52 {
  position:absolute;
  left:2px;
  top:9px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:92px;
  width:104px;
  height:34px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:104px;
  top:92px;
  width:104px;
  height:34px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:208px;
  top:92px;
  width:104px;
  height:34px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:312px;
  top:92px;
  width:104px;
  height:34px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:416px;
  top:92px;
  width:104px;
  height:34px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:520px;
  top:92px;
  width:113px;
  height:34px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:35px;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:633px;
  top:92px;
  width:155px;
  height:34px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u66 {
  position:absolute;
  left:2px;
  top:9px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:760px;
  top:185px;
  width:140px;
  height:30px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#009900;
  text-align:center;
}
#u68 {
  position:absolute;
  left:300px;
  top:190px;
  width:390px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69 {
  position:absolute;
  left:940px;
  top:315px;
  width:60px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u70 {
  position:absolute;
  left:1010px;
  top:315px;
  width:60px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u71 {
  position:absolute;
  left:940px;
  top:350px;
  width:60px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u72 {
  position:absolute;
  left:1010px;
  top:350px;
  width:60px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u73 {
  position:absolute;
  left:638px;
  top:400px;
  width:142px;
  height:25px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:26px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
